@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Rationale');

body {
  height: 65vh;
  margin: 0;
  padding: 0;
  /* background: url('./images/icons/background.jpg') no-repeat center center fixed; */
  background-color: rgb(21, 21, 21)
}